* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#cookie-banner {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #111;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    font-family: sans-serif;
    z-index: 9999;
}

#cookie-banner button {
    margin-left: 10px;
    padding: 5px 12px;
    border: none;
    background: violet;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}


header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main {
    padding-top: 100px;
    padding-bottom: 200px;
}

nav {
    background-image: linear-gradient(to right, #ffffff, #9a1eff);
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    transition: 0.3s;


}

header nav ul li a:hover {
    background-color: purple;
    color: violet;
    border-radius: 5px;
    padding-top: .5px;
}

nav svg {
    color: violet;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px;
    font-family: "Press Start 2P", system-ui;
    font-size: 8px;
}

.hero .row {
    width: 100%;
}

.hero h1 {
    animation: textFade 2s ease-in-out;
    color: #e4e4e6;
    font-weight: bold;
}

.hero .img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(250, 250, 250, 0.3), rgb(28, 28, 206));
    width: 400px;
    box-shadow: 0 0 20px white;
    border-radius: 20%;
}

.hero img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-left: 10px solid white;
    border-bottom: 10px solid white;
    animation: scaleUp 0.5s ease forwards, logoFloat 3s ease-in-out 0.5s infinite;
    transition: 0.4s ease;
    border-radius: 50%;
}

.hero .contenu p {
    font-size: 13px;
    background-image: linear-gradient(rgba(250, 250, 250, 0.3), rgb(28, 28, 206));
    padding: 30px;
    color: white;
    box-shadow: 0 0 20px;
    animation: pargraph 2s ease-in-out;
    letter-spacing: .5px;
    line-height: 29px;
}

.projets {
    height: 100vh;
    font-family: "Press Start 2P", system-ui;
    position: relative;
    padding-top: 100px;
}

.hidden {
    opacity: 0;
    transform: translateX(-60px);
    transition: all 4s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}


.projets h3 {
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.projets figure {
    position: relative;
    width: 300px;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    margin-left: 20px;
}

.projets figure img {
    width: 100%;
    border-radius: 10px;
}

.projets figcaption {
    color: white;
    font-size: 10px;
    margin-top: 15px;
    line-height: 20px;
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

@keyframes logoFloat {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes textFade {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes pargraph {
    from {
        opacity: 0;
        transform: translateX(-80px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero h1 {
        color: white;
    }

    .hero img {
        margin-top: 30px;
    }

}

.projets .group {
    display: flex;
    justify-content: space-around;
}

.project1:hover {
    width: 308px;
    box-shadow: 0 0 10px violet;
}

.project2:hover {
    width: 308px;
    box-shadow: 0 0 10px violet;
}

.project3:hover {
    width: 308px;
    box-shadow: 0 0 10px violet;
}

footer {
    min-height: 50vh;
    background-image: linear-gradient(to right, white, violet);
    width: 100%;
    padding: 40px 20px;
    position: relative;
    bottom: 0;
}

footer .contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 80px;
}

.phone,
.gmail,
.linkedin,
.fb,
.adresse,
.insta ,
.github {
    display: flex;
    align-items: center;
    margin-top: 8px;
    color: blue;
    gap: 8px;
}

.phone p,
.gmail p,
.adresse p {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.fb i {
    color: purple;
    font-size: 30px;
}

.linkedin i,
.insta i 
.github i{
    color: purple;
    font-size: 35px;
}

.social-media {
    display: flex;
    gap: 20px;
    position: relative;
}

.linkedin::before,
.insta::before ,
.github::before {
    content: "";
    position: absolute;
    background-color: blue;
    width: 2px;
    height: 40px;
}

footer hr {
    height: 2px;
    background-color: purple;
    border: none;
    margin: 20px 0;
}

footer p {
    color: #333;
    font-size: 12px;
    line-height: 18px;
}

footer .copyright {
    display: flex;
    justify-content: center;
    color: #333;
    font-size: 12px;
    margin-top: 10px;
    font-size: 18px;
}